ENV=develop

SERVER_PORT=8080
SERVER_WEBHOOK_URL=http://2fc4151a.ngrok.io
SERVER_SESSION_KEY=account_sid
SERVER_SESSION_SECRET=#wH6E)G:!CkrkeKY

CLIENT_API_URL=http://localhost:8080/api

DB_DRIVER=sqlite|mysql
DB_NAME=database
DB_USERNAME=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306